html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    overflow: hidden;
    font-family: arial,sans-serif;
    width: 100vw;
    font-size: 15px;
}

header {
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main{
    margin: 37px 0;
    text-align: center;
    padding: 20px 0;
}

.main .search{
    border: 1px rgb(212 192 192) solid;
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 5px 10px;
}

input{
    /* background-color: red; */
    padding: 5px 0;
    flex: 1;
    border: none;outline: none;
    

}

.mic{
    height: 25px;
    width: 25px;
}

.cam{
    height: 20px;
    width: 20px;
}

.main .search-button{
    margin: 20px 0 10px;
}

.main .lang{
    padding-top: 15px;
}

button{
    margin-right: 5px;
    color: #3c4043;
    padding: 12px;
    min-width:54px;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
}

a{
    margin-right: 20px;
    text-decoration: none;
}

header a{
    color: rgb(20 20 20);
}

a:hover{
    text-decoration: underline;
}

header .account{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

header .app{
    margin-right: 20px;
}

footer{
    background-color: #f2f2f2;
    margin-top: 215px;
}

.nigeria{
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px
}

.foot a{
    color: #70757a;
}

.foot{
    padding: 15px;
}

.foot1{
    margin-right: 180px;
}

.foot2{
    margin-right: 360px;
   
}

